<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href='https://fonts.googleapis.com/css?family=PT Serif Caption' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <title>Blog Project</title>
</head>
<body>
    <main>
<!-- boostrap nav -->


<!--  -->
        <div class="container">
            <!-- NAV SESSION -->
            <div id="nav">
                <a href="/" class="nav-a size-30">My Blog Project</a>
                <a href="/" class="nav-a">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a href="create" class="nav-a">
                    <i class="fa-solid fa-file-circle-plus"></i>
                </a>
                
            </div>


