<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href='https://fonts.googleapis.com/css?family=PT Serif Caption' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/main.css">
    <title>Blog Project</title>
</head>
<body>
    <main>

        <div class="container">
            <!-- NAV SESSION -->
            <div id="nav">
                <a href="/" class="nav-a">My Blog Project</a>
                <a href="/" class="nav-a">Home</a>
                <a href="create" class="nav-a">New Blog</a>
            </div>
